
.container {
    margin-top: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
  }
  
 
  form {
    background-color: #28f086; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    font-weight: bold;
  }
  
  form .form-control {
    margin-bottom: 15px;
  }
  
  form .btn {
    width: 100%;
    background-color: #007bff;
    color: white;
  }
  

  .list-group-item {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .list-group-item.danger {
    background-color: #8b0000;
  }
  
  .list-group-item.warning {
    background-color: #fff8dc; 
    color: black;
  }
  
  .list-group-item.success {
    background-color: #d9f7be;
    color: black;
  }
  
  .list-group-item.primary {
    background-color: #b0e0e6; 
    color: black;
  }
  

  .tab-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tab-pane p {
    margin-bottom: 10px;
  }
  
  input[type="date"] {
    padding: 5px;
    width: 50%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  